[user]
	name = Erick Navarro
	email = erick@navarro.io
[alias]
	pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
	editor = /usr/bin/vim
